---
---

@import "{{ site.theme }}";

.wrapper {
    width: 80%;
}

#SEC {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;//#fcfaf2;
  font-size: large;
}
footer {
  display: none !important;
}

.btn {
  display: none !important;
}
