---
---

@import "{{ site.theme }}";

html {
    background: #ffffff
}
.wrapper {
    width: 80%;
}

#SEC {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#fcfaf2;
  font-size: large;
}
footer {
  display: none !important;
}

.btn {
  display: none !important;
}
